@import url('reset.css');

::-moz-selection {
   color: #83bb59;
}

::selection {
	background: transparent;
	color: #83bb59;
}

/* 
    ClearFix 
*/

.clear:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*
    Layout
*/

body {
    background: #2b2b2b
}

#header-top-space {
    height: 150px;
}

#content {
    min-height: 400px;
    background: #fafafa;

    padding-top: 2%;
    padding-bottom: 2%;
}

#content_inside {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer {

}

.separator {

    margin-top: 2%;
    margin-bottom: 2%;
    
    border-top: 1px solid #cecece;
}

/*
    Nav - Top menu
*/

header nav {
    margin: auto;
    margin-bottom: 15px;
    width: 79%;   
}

header nav a {
    color: white;
    font-weight: bold;
    font-family: Arial;
    font-size: 14px;
}

header nav a:hover {
    transition: all 0.3s ease-in-out;
    color: #83bb59;
}

header nav li {
    float: right;
    margin-left: 3%;
}

/* 
    Error Messages
*/

#errors_corp {
    padding: 15px;
    background: #c75573;
    color: white;
    border: 1px solid #bc2c52;
    margin-bottom: 2%;
}

#errors_corp:hover {
    cursor: pointer;
}